.library-course {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 50px, 1fr;
    margin-top: 22px;

    &__arrow {
        grid-row: 1/2;
        display: flex;
        color: $color-blue;
       
    }
    &__action {
        grid-row: 1/2;

    }

    &__icon {
        grid-row: 1/2;
        color: $color-blue;
    }

    &:hover {
        background: white;
        box-shadow: 0 2px 10px 0 rgba (0,0,0,0.21)
        }

    &__title {
        color: $color-blue;
        font-family: $font-aleg;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    &__description {
    }
}
